<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    linking with property file:-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    // xml configuration-->
<!--    <bean id="classicalMusicBean"-->
<!--          class="ua.java_training.ClassicalMusic"-->
<!--          init-method="doMyInit"-->
<!--          destroy-method="doMydestroy"-->
<!--          factory-method="getClassicalMusic">-->
<!--    </bean>-->

<!--    xml configuration-->
<!--    <bean id="rockMusicBean"-->
<!--          class="ua.java_training.RockMusic">-->
<!--    </bean>-->

<!--    annotation configuration:-->
    <context:component-scan base-package="ua.java_training"/>
    
<!--    <bean id="folkMusicBean"-->
<!--          class="ua.java_training.FolkMusic">-->
<!--    </bean>-->

<!--    xml configuration for musicPlayer bean where there is field List<Music> music-->
<!--    <bean id="musicPlayer"-->
<!--          class="ua.java_training.MusicPlayer">-->
<!--        <property name="music">-->
<!--            <list>-->
<!--                <ref bean="classicalMusicBean"/>-->
<!--                <ref bean="rockMusicBean"/>-->
<!--                <ref bean="folkMusicBean"/>-->
<!--            </list>-->
<!--        </property>-->

<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>